*{
	text-align: center;
}
body{
	width: 100%;
}
/* header Style */
header {
	position: absolute;
	width: 90%;
	display:flex;
	justify-content: space-between;
	align-items: center;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	color: black;
}
@keyframes fadein {
	100% {
		opacity: 1;
	}
}
header h2 {
	font-family: "Quicksand", sans-serif;
	color: white;
	text-align: center;
	margin-left: 100px;
}
header nav {
	display: flex;
	margin-right: 40px;
	text-align: center;
	
}
header nav a{
	margin: 0 20px;
	color: white;
    list-style-type: none;
	text-decoration: none;
}
@media (max-width: 800px) {
	header {
		padding: 20px 20px;
		margin: 0px 20px;
		flex-direction: column;
	}
	header h2 {
		padding:10px 20px;
		margin-bottom: 15px;
		margin: 0px 20px 0px 0px;
		text-align: center;
	}
	header nav {
		display: flex;
		text-align: center;
	}
	header nav a{
		margin: 0 25px;
		color: white;
		list-style-type: none;
		text-decoration: none;
	}
}

/*Hero Styles*/

.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}
.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	background-color: #80a3db;
}
.hero h1 {
	font: bold 60px "Open Sans", sans-serif;
	margin-bottom: 15px;
}
.hero h3 {
	font: normal 28px "Open Sans", sans-serif;
	margin-bottom: 40px;
}
.hero a.btn {
	padding: 20px 46px;
	color: white;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #3f51b5;
	opacity: 1;
	text-decoration: none;
}
.hero-content-area {
	opacity: 0;
	padding-top: 200px;
	animation: 1s slidefade 1s forwards;
}
@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}
@media (max-width: 600px) {
	.hero {
		min-height: 600px;
	}
	.hero h1 {
		font-size: 48px;
	}
	.hero h3 {
		font-size: 24px;
	}
	.hero a.btn {
		padding: 15px 40px;
	}
}

/* destination section */

.destinations{
	margin: 70 50 70 30;
	padding-bottom: 750px;
	height: 100%;
	width: 100%;
}
.destinations .titles{
	font: 32px "Open Sans",sans-serif;
	margin: 50px 0 30px;
	color: #555;
}
.destinations p{
	line-height: 30px;
	padding: 0% 20%;
	
}
.destinations hr{
	border: 2px solid #3f51b5;
	margin: 30px 400px;
}
.destinations .grid li {
	height: 350px;
	width: 100%;
	display: flex;
	list-style-type: none;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}
.destinations .grid li.small{
	flex-basis: 30%;
	height: 350px;
	width:29%;
	max-width: 65%;
	float: left;
	padding: 10px;
}
.destinations .grid li.large{
	flex-basis: 70%;
	float: left;
	height: 350px;
	width: 67%;
	max-width: 65%;
	padding: 10px;
}
@media (max-width: 800px) {
	.destinations{
		padding-bottom: 1000px;
	}
	.destinations .grid li.small,.destinations .grid li.small1 {
		flex-basis: 100%;
		height: 230px;
		width: 100%;
		max-width: 100%;
		float: inline-end;
	}
	.destinations .grid li.large,.destinations .grid li.large1 {
		flex-basis: 100%;
		height: 230px;
		width: 100%;
		max-width: 100%;
		float: inline-end;
	}
	.destinations hr{
		border: 2px solid #3f51b5;
		margin: 30px 100px;
	}
	.destinations .grid li {
		height: 180px;
		display: flex;
		list-style-type: none;
		background-clip: content-box;
		background-size: cover;
		background-position: center;
	}
	.destinations p{
		line-height: 30px;
		padding: 0px 50px;
	}
}

/*Packages Section*/

.packages{
	width: 100%;
	padding-bottom: 550px;
	background-color: #f5f5f5;	
	padding-top: 30px;
}
.packages .titles1{
	margin-top: 50px;
	padding: 50 50 10 50;
	font: 32px "Open Sans";
	color: black;
}
.packages p.para{
	line-height: 30px;
	font: 16px "open Sans";
}
.packages hr{
	border: 2px solid #3f51b5;
	margin: 30px 600px;
}
.packages .grid li {
	display: block;
    padding: 50px;
	margin: 100%;
    flex-basis: 40%;
	list-style-type: none;
	font: 16px "Open Sans";
	margin: 0px 0px;
}
.packages .grid li.left {
	display: block;
	flex-basis: auto;
	max-width: 45%;
	padding: 25px;
	float: left;
	list-style-type: none;
}
.packages .grid li.right {
	display: block;
	flex-basis: auto;
	max-width: 45%;
	padding: 25px;
	float: right;
	list-style-type: none;
}
.packages .grid li i {
	color: #8c9eff;
	text-align: center;
}
.packages .grid li h4 {
	font-size: 30px;
	margin: 15px 0;
	/* padding-left: 0px; */
}
.packages .grid li p{
	padding: 0px 10px;
}
@media (max-width: 1000px) {
	.packages{
		padding-bottom: 0px;
	}
	.packages p{
		padding: 0px 30px;
	}
	.packages .grid{
		padding-left: 0px;
	};
	.packages .grid li {
		flex-basis: 100%;
		padding: 10px 20px;
	}
	.packages hr{
		border: 2px solid #3f51b5;
		margin: 20px 100px;
	}
	.packages .grid li.left, .packages .grid li.right {
		padding: 20px 0px;
		width: 100%;
		max-width: 100%;
		float: none;
	}
}

/*Testimonials Section*/

.testimonials{
	padding-top: 50px;
}
.testimonials .quote {
	font-size: 23px;
	font-weight: 300;
	line-height: 1.5;
	margin: 50px 300px 35px 380px;
	text-align: center;
	font-family: sans-serif;
}
.testimonials p.author{
	text-align: center;
	font-size: 16px;
	font-family: sans-serif;
	margin: 0 0 30px;
	padding: 0px 20px;
}
.testimonials .title{
	text-align: center;
	padding: 50 50 0 50;
	font: 32px "Open Sans";
	color: #555;
}
.testimonials hr{
	text-align: center;
	border: 2px solid #3f51b5;
	margin: 30px 600px;
}
@media (max-width: 1000px) {
	.testimonials .quote {
		font-size: 18px;
		margin: 15px 0;
	}
	.testimonials .author {
		font-size: 20px;
	} 
	.testimonials hr{
		text-align: center;
		border: 2px solid #3f51b5;
		margin: 30px 100px;
	}
}

/*Contact Section*/

.contact{
	background-color: #f5f5f5;
	padding: 80px 0px;
}
.contact .title{
	padding: 50 50 0 50;
	font: 32px "Open Sans";
	color: #555;
}
.contact p{
	margin: 50px 0px;
	font: 21px;
	font-family: sans-serif;
	padding: 0px 20px;
	line-height: 2;
}
.contact hr{
	border: 2px solid #3f51b5;
	margin: 40px 500px;
}
.contact form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
}
.contact form .btn {
	padding: 18px 46px;
	color: white;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #3f51b5;
	opacity: 1;
	text-decoration: none;
	margin-right: -300px;
	list-style-type: none;
}
.contact form input{
	display: flex;
	padding: 15px;
	margin-left: 25%;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
	flex: 1;
	list-style-type: none;
}
@media (max-width: 800px) {
	.contact form input {
		margin-left: 200px;
		padding: 15px 20px;
		font-size: 18px;
		color: #555;
		flex: 1;
		list-style-type: none;
		margin-bottom: 10px;
	}
	.contact hr{
		border: 2px solid #3f51b5;
		margin: 40px 150px;
	}
	.contact form .btn {
		padding: 18px 46px;
		color: white;
		border-radius: 4px;
		text-transform: uppercase;
		font-weight: bold;
		background-color: #3f51b5;
		opacity: 1;
		margin-right: -175px;
		text-decoration: none;
		list-style-type: none;
	}
}

/*Footer Section*/

footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #607d8b;
	color: #fff;
	padding: 10px 0;
}
footer p a {
	list-style-type: none;
	text-decoration: none;
	color: #fff;
}
footer ul li a{
	color: #fff;
	opacity: 0.6;
}
footer ul li a:hover{
	color: #fff;
	opacity: 1;
}
footer ul {
	display: flex;
	color: white;
}
footer ul li{
	margin-left: 16px;
	list-style-type: none;
}
footer .unsplash{
	color: #fff;
	opacity: 0.6;
	
}
footer .unsplash:hover{
	color: #fff;
	opacity: 1;

}
footer p {
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.6;
	color: #fff;
	align-self: center;
}
@media (max-width: 1100px) {
	footer {
		flex-direction: column;
	}
	footer p {
		text-align: center;
		margin-bottom: 20px;
	}
	footer ul li {
		margin: 0 8px;
	}
} 
